BOT_TOKEN=your_telegram_bot_token
ALLOWED_CHAT_ID=
TIMEZONE=Europe/Moscow
DAILY_REPORT_HOUR=21
DAILY_REPORT_MINUTE=0
WEEKLY_REPORT_DAY=sun
WEEKLY_REPORT_HOUR=20
WEEKLY_REPORT_MINUTE=0
MONTHLY_REPORT_DAY=1
MONTHLY_REPORT_HOUR=10
MONTHLY_REPORT_MINUTE=0
